{% extends "base.html" %}

{% load static %}

{% block content %}
<h1> Congratulations! You have successfully uploaded a file</h1>
<h2> Lets Look at  the Data</h2>

<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <!-- <tr>
                {{loaded_data | safe}}
        </tr> -->

    </thead>
    <tbody>
            <tr>
                    {{loaded_data | safe}}
                    Numerical Data
                    {{filedatahtml | safe}}
                    Partitioned Data
                     Xtrain {{Xtrain | safe}}
                     Ttrain {{Ttrain | safe}}
                     Xtest {{Xtest| safe}}
                     Ttest {{Ttest | safe}}
                     figure {{ figure | safe}}
                     
                    <form action="{% url 'MachineLearningApi:partitiondata' %}">
                        <button class="btn btn-primary" type='submit'> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"> partitiondata</button>
                        </form>
                     
                      {{Xtrain1 | safe}}
                      {{Ttrain1 | safe}}
                      {{Xtest1| safe}}
                      {{Ttest1 | safe}}
                     
            </tr>
        <!-- {{test}}
        {% for ad in test %} -->
        
    <!-- {% endfor %} -->
    </tbody>
</table>
{% endblock %}