{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div id="resume"><div class="inner">
				<p class="tagline">Résumé</p>
				<!-- Résumé : Education -->
				<p class="section-tagline" style="text-align:left;">Education</p>
				<!-- Résumé : Education : USC -->
				<p>
				<b>University of Southern California</b>
					<span class="right"><i>2010 - 2014</i></span><br><b>Computer Science, B.S.</b>
					<span class="right"><i>Los Angeles, CA</i></span><br><br>
						Relevant Coursework:<br>
						</p><ul style="list-style:circle;">
									<li>Fundamentals of Computer Programming</li>
									<li>Object-Oriented Programming</li>
									<li>Principles of Software Development</li>
									<li>Discrete Methods in Computer Science</li>
									<li>Design and Analysis of Algorithms</li>
									<li>Design for User Experience</li>
									<li>Basic Organization of Computer Systems</li>
									<li>Human Language and Technology</li>
									<li>Mobile Application Development</li>
									<li>Design and Construction of Large Software Systems</li>
									<li>Operating Systems</li>
									<li>File and Database Management</li>
									<li>Advanced Web Technologies</li>
									<li>Advanced Topics in Mobile App Development</li>
									<li>3D Design and Prototyping</li>
								</ul>
					<span class="skill">C/C++</span><span class="skill">Java</span><span class="skill">Objective-C</span><span class="skill">Python</span><span class="skill">Git</span>
				<p></p>
				<br>
				<!-- Résumé : Education : Sorbonne -->
				<p>
					<b>Paris Sorbonne University</b>
					<span class="right"><i>Spring 2013</i></span><br>
					<b>Study Abroad</b>
					<span class="right"><i>Paris, FR</i></span><br><br>
					Spent a semester studing art history, French, fashion and interior design in the 6th arrondissement of Paris. Additional recreational coursework
					in French cooking, wine tasting, and cheese pairing.<br><br>
					<span class="skill">Français</span><span class="skill">Airbnb-ing</span><span class="skill">L'art du pique-nique</span>
				</p>
				<br>
				<!-- Résumé : Education : Freestyle -->
				<p>
				<b>Freestyle Academy of Communication Arts &amp; Technology</b>
					<span class="right"><i>2008-2010</i></span><br>
					<b>Web and Audio Engineering</b>
					<span class="right"><i>Mountain View, CA</i></span><br><br>
					Attended a special academy with an interdisciplinary curriculum in graphic design, digital photography, and creative writing. Specialized
					in web and audio engineering.<br><br>
					<span class="skill">HTML</span><span class="skill">CSS</span><span class="skill">JS</span><span class="skill design">Photoshop</span><span class="skill design">Illustrator</span><span class="skill design">InDesign</span><span class="skill design">AfterEffects</span><span class="skill design">Flash</span><span class="skill">ActionScript</span><span class="skill">Reason</span><span class="skill">ProTools</span>
				</p>
				<br><br>

				<!-- Résumé : Work Experience -->
				<p class="section-tagline" style="text-align:left;">Work Experience</p>

				<!-- Résumé : Work Experience : IDEO -->
				<p>
					<b>IDEO</b>
					<span class="right"><i>Summer 2013</i></span><br>
					<b>Digital Shop Intern</b>
					<span class="right"><i>Palo Alto, CA</i></span><br><br>
						Joined a team of product and software engineers within IDEO to
					design, prototype, build and ship digital products. Worked as both a designer and developer on a variety of internal and client projects.<br><br>
					<span class="skill">HTML</span><span class="skill">SASS/CSS</span><span class="skill">CoffeeScript/JS</span><span class="skill">PHP</span><span class="skill">WordPress</span><span class="skill">Git</span><span class="skill design">Illustrator</span><span class="skill design">Photoshop</span>
				</p>
				<br>
				<!-- Résumé : Work Experience : Roski -->
				<p>
					<b>USC Roski School of Fine Arts</b>
					<span class="right"><i>2012 - 2013</i></span><br>
					<b>Web Developer</b>
					<span class="right"><i>Los Angeles, CA</i></span><br><br>
						Responsible for maintaining the USC Roski School of Fine Arts website. Additionally worked on design and PHP/MySQL
						development for a new equipment rental web application used by all departments within the art school.<br><br>
					<span class="skill">HTML</span><span class="skill">CSS</span><span class="skill">PHP</span><span class="skill">MySQL</span><span class="skill">Bootstrap</span>
				</p>
				<br>
				<!-- Résumé : Work Experience : Intuit -->
				<p>
					<b>Intuit</b>
					<span class="right"><i>Summer 2012</i></span><br>
					<b>Experience Design Intern</b>
					<span class="right"><i>San Diego, CA</i></span><br><br>
						Working directly with designers, engineers, user researchers, and product managers to create, maintain, and transition the ofﬁcial
						prototype for the new TurboTax 'Finish and File' experience into the real code base for TurboTax Online.<br><br>
					<span class="skill">HTML</span><span class="skill">CSS</span><span class="skill">JS</span><span class="skill design">Photoshop</span>
				</p>
				<br>
				<!-- Résumé : Work Experience : Tricky Software -->
				<p>
					<b>Tricky Software</b>
					<span class="right"><i>Summer 2011</i></span><br>
					<b>Software Engineering Intern</b>
					<span class="right"><i>Menlo Park, CA</i></span><br><br>
						Experience designing and programming mobile games and applications for the iPhone and iPad. Worked on front-end for
						Emma the Inventor and UI for Crayola Color Studio, and company website.<br><br>
					<span class="skill">HTML</span><span class="skill">CSS</span><span class="skill">PHP</span><span class="skill">Objective-C</span>
					<span class="skill design">Illustrator</span>
				</p>
				<br>
				<!-- Résumé : Work Experience : UpTrending -->
				<p>
					<b>UpTrending, LLC</b>
					<span class="right"><i>Summer 2011</i></span><br>
					<b>Web Designer and Developer</b>
					<span class="right"><i>Palo Alto, CA</i></span><br><br>
						Designing websites with a business minded approach and programming in front-end. Additional experience in SEO and Social
						Media campaigns, working directly with clients to build lasting online identities.<br><br>
					<span class="skill">HTML</span><span class="skill">CSS</span><span class="skill">JS</span><span class="skill">WordPress</span><span class="skill design">Photoshop</span><span class="skill design">Illustrator</span>
				</p>
				<br><br><br><br>
			</div></div>

{% endblock %}
