{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="resume"><div class="inner">
				<p class="tagline">Résumé</p>
				<!-- Résumé : Education -->
				<p class="section-tagline" style="text-align:left;">Education</p>
				<!-- Résumé : Education : USC -->
				<p>
				<b>Colorado State University</b>
					<span class="right"><i>2014 - 2018</i></span><br><b>Computer Science, B.S.</b>
					<span class="right"><i>Fort Collins, CO</i></span><br><br>
						Relevant Coursework:<br>
						</p><ul style="list-style:circle;">
									<li>CS160: Java  No Prior Programming</li>
									<li>CS161: Java  Object Oriented Problem Solving</li>
									<li>CS200: Data Structures and Algorithms</li>
									<li>CS270: Computer Organization </li>
									<li>CS253: Problem Solving with C++</li>
									<li>CS320: Algorithms: Theory and Practice</li>
									<li>CS314: Software Engineering</li>
									<li>CS370: Operating Systems </li>
									<li>CS356: Systems Security</li>
									<li>CS414: Object Oriented Design</li>
									<li>CS440: Introduction to Artificial Intelligence</li>
									<li>CS445: Introduction to Machine Learning </li>
									<li>CS430: Database Systems</li>
								
								</ul>
					<span class="skill">C/C++</span><span class="skill">Java</span><span class="skill">Objective-C</span><span class="skill">Python</span><span class="skill">Git</span>
				<p></p>
				<br>
				
				<!-- Résumé : Work Experience -->
				<p class="section-tagline" style="text-align:left;">Work Experience</p>

				<!-- Résumé : Work Experience : IDEO -->
				<p>
					<b>Techlogix</b>
					<span class="right"><i>November 2018</i></span><br>
					<b>Quality Assurance Engineer</b>
					<span class="right"><i>Lahore, Pakistan</i></span><br><br>
					Liaised with developers and testers to develop,design and run automatic tests software for both new and existing software applications such as Techlogix's Health Management Information System(HMIS) and TMX ReadyLine Product(Bank Loan Application) using Javascript and Protractor.
					<br><br>
					<span class="skill">Protractor</span><span class="skill">Javascript</span><span class="skill">Visual Studio</span><span class="skill">GiHub</span><span class="skill">Git</span>
					<br><br>
					Created, developed and executed JMeter scripts to perform load testing of Allied Bank's Oracle Banking Digital Experience(OBDX) application in the pre-production and "go live" environment.
					<br><br>
					<span class="skill">Banking</span><span class="skill">OBDX</span><span class="skill">JMeter</span><span class="skill">LoadTesting</span><span class="skill">Quality Assurance</span>
					<br><br>
					Worked as part of the implementation team to implement multiple  banking products such as ReadyLine and Top-Up for Silk Bank using MS SQL and DBeaver.
					<br><br>
					<span class="skill">Banking</span><span class="skill">Databases</span><span class="skill">MSSQL</span><span class="skill">DBeaver</span><span class="skill">Quality Assurance</span>
				</p>
				<br>
				<!-- Résumé : Work Experience : Roski -->
				<p>
					<b>MCB Bank</b>
					<span class="right"><i> July 2016</i></span><br>
					<b>Intern</b>
					<span class="right"><i>Lahore, Pakistan</i></span><br><br>
						Interned in the Information Technology division, where I learned about core banking systems and associated information security risks.<br><br>
					<span class="skill">Banking</span><span class="skill">Core Banking Systems</span><span class="skill">Information Security</span>
				</p>
				<br>
				<!-- Résumé : Work Experience : Intuit -->
				<p>
					<b>Systems Limited</b>
					<span class="right"><i>Summer 2015</i></span><br>
					<b> Intern</b>
					<span class="right"><i>Lahore,Pakistan</i></span><br><br>
						Developed web pages using basics HTML and CSS.<br><br>
					<span class="skill">HTML</span><span class="skill">CSS</span>
				</p>
				<br>
				<!-- Résumé : Work Experience : Tricky Software
				<p>
					<b>Tricky Software</b>
					<span class="right"><i>Summer 2011</i></span><br>
					<b>Software Engineering Intern</b>
					<span class="right"><i>Menlo Park, CA</i></span><br><br>
						Experience designing and programming mobile games and applications for the iPhone and iPad. Worked on front-end for
						Emma the Inventor and UI for Crayola Color Studio, and company website.<br><br>
					<span class="skill">HTML</span><span class="skill">CSS</span><span class="skill">PHP</span><span class="skill">Objective-C</span>
					<span class="skill design">Illustrator</span>
				</p>
				<br>
				<!-- Résumé : Work Experience : UpTrending -->

				<p class="section-tagline" style="text-align:left;">Online Courses</p>
				<p>
					<b>Python and Django Full Stack Web Developer(Udemy)</b>
					<span class="right"><i>Summer 2019</i></span><br>
					<b> Instructor: Jose Portilla</b>
					<br>
						Developed fully functional web sites using the Full-Stack with Django and Python.<br><br>
					<span class="skill">Django</span><span class="skill">Python</span><span class="skill">HTML</span><span class="skill">CSS</span><span class="skill design">Bootstrap</span><span class="skill design">Visual Code</span>
				</p>

				<br><br><br>
				<p>
					<b>Protractor(Angular Testing) from scratch+Framework(Udemy)</b>
					<span class="right"><i>May 2019</i></span><br>
					<b> Instructor: Rahul Shetty</b>
					<br>
						Gained In-depth Knowledge on how to automate Angular Apps using Protractor, Javascript and Jasmine Framework<br><br>
					<span class="skill">Protractor</span><span class="skill">Javascript</span><span class="skill">Jasmine</span><span class="skill">CSS</span><span class="skill design">Bootstrap</span><span class="skill design">Visual Code</span>
				</p>
				<br><br>
				<p>
					<b>Spark and Python for Big Data with PySpark</b>
					<span class="right"><i>Sept 2019-Present</i></span><br>
					<b> Instructor: Jose Portilla</b>
					<br>
						Learned how to Amazon Web Service EC2, Spark and Python to analyze Big Data files.<br>
						Learned how to use Spark's MLlib to create Powerful Machine Learning Models.<br><br>
					<span class="skill">AWS</span><span class="skill">EC2</span><span class="skill">Spark</span><span class="skill">Python</span>
				</p>
				
			</div></div> 

{% endblock %}
